
 
.bgcert{
    background-color: rgb(25, 27, 48);
}

  #certifications {
   padding-top: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.cert-heading {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(193, 246, 255);
}
.firstlettercert{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(255,215,0);
}
.cert-desc{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: grey;
}


.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.certificate {
    padding: 1.3rem;
    background-color: #0d0073;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 1.5rem;
    border-radius: 20px;
    width: 100%; 
    max-width: 400px; 
    box-shadow: 0 4px 8px rgb(17, 186, 216);
    color: rgb(235, 245, 255);
}

.certificate p {
    margin: 0;
}

.certificate a {
    color: white;
    border: 1px solid grey; 
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    margin-left: auto; 
}

@media screen and (max-width:450px) {
   .certificate {
        width: 90vw;
        max-width: none;
   }

    .cert-heading {
        font-size: 2rem;
    }
}