#copyright{
    background-color: rgb(143, 143, 143);
    padding-top: 24px;
    padding-bottom: 7px;
}
.ctext{
    font-size: 18px;
    padding-top: 8px;
}
.connect{
    font-size: 23px;
    text-decoration: none;
    
}